.jumbotron, .card-body, .container, .site-header{
    font-family: 'Raleway', serif !important;
}

.jumbotron .display-4{
    font-weight: bold;
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead{
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.light-text {
  color: white;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone{
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.alert{
  position: fixed;
  top:80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top:50%;
  left: 50%;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#spinner-wrapper{
  position: fixed;
  background-color: rgba(0,0,0,0.5);
  width:100%;
  height: 100%;
  top:0;
  left:0;
  z-index: 1021;
  display: none;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}


/*Inicio estilos login*/
.login-box {
  width: 350px;
  height: 600px;  
  /* height: 530px; */
  margin: 0px auto;
  padding: 30px 30px;
  background-color: #f5f5f6;
  -webkit-box-shadow: 2px 6px 12px 2px rgba(0,0,0,0.41);
  -moz-box-shadow: 2px 6px 12px 2px rgba(0,0,0,0.41);
  box-shadow: 2px 6px 12px 2px rgba(0,0,0,0.41);

  border-radius: 25px;
}


.login-box h1 {
  font-size: 20px;
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
}

.login-box img {
  width: 100%;
  border-radius: 25px;
} 

input {
  width: 100%;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 25px;
  text-align: left;
  padding-left: 10px;
	outline:0px;
}


input[type="password"]:focus,
input[type="email"]:focus {
  border-color: #d61c6c;
  box-shadow: .8px .8px .8px .8px #d61c6c inset;
  border-radius: 25px;
  outline:0px;
}


.input-box {
  padding-bottom: 10px;
  padding-top: 10px;
  margin: 0px;
}


input[type="button"] {
  background-color: #d61c6c;
  color: white;
  font-size: 22px;
  text-align: center;
  
}

input[type="button"]:active {
  box-shadow: 2px 6px 12px 2px rgba(0,0,0,0.41) inset;
}

.login-box a {
  display: block;
  color: #0078c2;
  text-align: center;
}

#alert-email-password {
  margin: 0px;
  padding: 0px;
  padding-top: 10px;
  text-align: center;
  color: red;
  visibility: hidden;
}

/*Fin estilos login*/

/*Inicio estilos mi perfil*/
.icon-login {
  width: 20px;
}

.box-item {
  padding-left: 10px;
}
/*Fin estilos mi perfil*/


/*Inicio estilos navegacion*/
.nav {
  font-weight: bold;
}

.nav:hover {
  transform: scale(1.2,1.3);
  text-decoration: none;
  font-weight: bold;
  color: #d61c6c;
}
/*Fin estilos navegacion*/

/*Inicio Estilos boton de google*/

.g-signin2 {
   margin-left: 80px;
}

.abcRioButtonLightBlue {
  color: #757575;
  border-radius: 25px !important;
}

/*Fin Estilos boton de google*/

/*Inicio estilos generales product.html*/
h4 {
  font-weight: bold;
}
/*Fin estilos generales product.html*/

/*Inicio estilos buscador*/
.container-search {
  width: 50%;
  float: left;
  margin-bottom: 30px;
}

.search {
  height: 35px;
  width: 100%;
}

.search:focus {
  border: 1px solid #d61c6c;
  box-shadow: 1px 1px 1px 1px #d61c6c inset;
}

#result-not-found {
  font-size: 25px;
  font-weight: 400;
  
}

/* button[type="button"] {
  background-color: #d61c6c;
  color: white;
  font-size: 18px;
  text-align: center;
  border-radius: 20px;
  
} */

/* button[type="button"]:active {
  box-shadow: 2px 6px 12px 2px rgba(0,0,0,0.41) inset;
} */


/*Fin estilos buscador*/

/*Inicio estilos botones filtro*/
.btn-light:hover {
  color: white;
  background-color: #d61c6c;
  border-color: #dae0e5;
  font-weight: bold;
}

.btn-light {
  color: black;
  border-color: #dae0e5;
  font-weight: bold;
  border-radius: 20px;
}

.btn-light:active {
  color: white;
  background-color: #d61c6c;
  border-color: #dae0e5;
  font-weight: bold;
}
/*Fin estilos botones filtro*/



/*Inicio Estilos generales producto-info.html*/
dt {
  font-size: 20px;
  padding-top:20px;
  padding-bottom: 10px;
}

h3 {
  font-weight: bold;
}

#product-related {
  display: flex;
  padding-top: 20px;
  padding-bottom: 40px;
}

.card-text {
  height: 100px;
}

.card {
  margin-right: 20px;
}

.btn-primary {
  background-color: #d61c6c;
  border: none;
}

.btn-primary:hover {
  background-color: #8b1b4c;
  border: none;
}

.container-info {
  display: flex;
}

.box-info {
  max-width: 500px;
}

.box-image {
  width: 50%;
  padding: 20px;
}
/*Fin Estilos generales producto-info.html*/


/*Inico estilos comentarios*/
.box-comment {
  width: 90%;
  height: 160px;
  margin: 0px auto;
  padding: 20px;
  padding-left:30px;
  margin-top: 20px;
  -webkit-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.75);
  border-radius: 60px 0px 60px 0px;
  -moz-border-radius: 60px 0px 60px 0px;
  -webkit-border-radius: 60px 0px 60px 0px;
  border: 0px solid #000000;
  background-color: white;
}

.name-user {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
}

.date {
  float: right;
  font-style: italic;
}

/*Fin estilos comentarios*/

/*Inicio estilos del formulario de comentario*/
.box-description {
  text-align: center;
}

#description {
  width: 100%;
  height: 150px;
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.75);
}

.box-button {
  width: 100px;
}

#button-comment {
  width: 100px;
  height: 30px;
  font-size: 18px;
}

#container-form {
  width: 90%;
  margin: 0px auto;
}
/*Fin estilos del formulario comentario*/


/*Inicio estilos calificacion*/
#form {
  width: 250px;
  margin: 0 auto;
  height: 50px;
}


#form label {
  font-size: 20px;
}

input[type="radio"] {
  display: none;
}

label {
  color: grey;
  font-size:35px;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label {
  color: orange;
}

input[type="radio"]:checked ~ label {
  color: orange;
}

h5 {
  font-weight: bold;
}
/*Fin estilos calificacion*/




body {
  background: linear-gradient(to bottom, #D5DEE7 0%, #E8EBF2 50%, #E2E7ED 100%), linear-gradient(to bottom, rgba(0,0,0,0.02) 50%, rgba(255,255,255,0.02) 61%, rgba(0,0,0,0.02) 73%), linear-gradient(33deg, rgba(255,255,255,0.20) 0%, rgba(0,0,0,0.20) 100%);
 background-blend-mode: normal,color-burn; 
 background-size: cover;
}